In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("water.txt",sep="\t")

In [4]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [7]:
mortality_mean=data["mortality"].mean()
mortality_std=data["mortality"].std(ddof=1)

In [8]:
print mortality_mean
print mortality_std

1524.14754098
187.668753931

In [9]:
from statsmodels.stats.weightstats import _tconfint_generic

In [15]:
mortality_mean_std=mortality_std/np.sqrt(data["mortality"].shape[0])
_tconfint_generic(mortality_mean,mortality_mean_std,data["mortality"].shape[0]-1,0.05,"two-sided")

(1476.0833413552848, 1572.2117406119285)

In [18]:
data_south=data[data["location"]=="South"]
print data_south.head()

   location         town  mortality  hardness
0     South         Bath       1247       105
2     South   Birmingham       1466         5
7     South  Bournemouth       1299        78
9     South     Brighton       1359        84
10    South      Bristol       1392        73

In [19]:
mortality_south_mean=data_south["mortality"].mean()
mortality_south_std=data_south["mortality"].std(ddof=1)
print mortality_south_mean
print mortality_south_std

1376.80769231
140.269175297

In [20]:
mortality_south_mean_std=mortality_south_std/np.sqrt(data_south["mortality"].shape[0])
_tconfint_generic(mortality_south_mean,mortality_south_mean_std,data_south["mortality"].shape[0]-1,0.05,"two-sided")

(1320.1517462936238, 1433.463638321761)

In [22]:
data_north=data[data["location"]=="North"]
print data_north.head()

  location        town  mortality  hardness
1    North  Birkenhead       1668        17
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18
5    North      Bolton       1558        10
6    North      Bootle       1807        15

In [25]:
mortality_north_mean=data_north["mortality"].mean()
mortality_north_std=data_north["mortality"].std(ddof=1)
print mortality_north_mean
print mortality_north_std

1633.6
136.936911193

In [26]:
mortality_north_mean_std=mortality_north_std/np.sqrt(data_north["mortality"].shape[0])
_tconfint_generic(mortality_north_mean,mortality_north_mean_std,data_north["mortality"].shape[0]-1,0.05,"two-sided")

(1586.5605251961385, 1680.6394748038613)

In [28]:
hardness_south_mean=data_south["hardness"].mean()
hardness_south_std=data_south["hardness"].std(ddof=1)
print hardness_south_mean
print hardness_south_std

69.7692307692
40.3606815525

In [29]:
hardness_south_mean_std=hardness_south_std/np.sqrt(data_south["hardness"].shape[0])
_tconfint_generic(hardness_south_mean,hardness_south_mean_std,data_south["hardness"].shape[0]-1,0.05,"two-sided")

(53.467198692036106, 86.071262846425441)

In [30]:
hardness_north_mean=data_north["hardness"].mean()
hardness_north_std=data_north["hardness"].std(ddof=1)
print hardness_north_mean
print hardness_north_std

30.4
26.1344937718

In [31]:
hardness_north_mean_std=hardness_north_std/np.sqrt(data_north["hardness"].shape[0])
_tconfint_generic(hardness_north_mean,hardness_north_mean_std,data_north["hardness"].shape[0]-1,0.05,"two-sided")

(21.422487285724259, 39.377512714275738)