In [16]:
import pandas as pd
import numpy as np

from scipy.stats import pearsonr
import scipy.stats
from statsmodels.sandbox.stats.multicomp import multipletests

In [2]:
data=pd.read_csv('auc.txt',sep='\t')

In [4]:
data

                 Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0            adult (sample)  0.763   0.768    0.771      0.798
1             breast cancer  0.599   0.591    0.590      0.569
2   breast cancer wisconsin  0.954   0.971    0.968      0.967
3                       cmc  0.628   0.661    0.654      0.657
4                ionosphere  0.882   0.888    0.886      0.898
5                      iris  0.936   0.931    0.916      0.931
6           liver disorders  0.661   0.668    0.609      0.685
7               lung cancer  0.583   0.583    0.563      0.625
8              lymphography  0.775   0.838    0.866      0.875
9                  mushroom  1.000   1.000    1.000      1.000
10            primary tumor  0.940   0.962    0.965      0.962
11                    rheum  0.619   0.666    0.614      0.669
12                   voting  0.972   0.981    0.975      0.975
13                     wine  0.957   0.978    0.946      0.970

In [11]:
c_4_5=np.array(data['C4.5'])
c_4_5_m=np.array(data['C4.5+m'])
c_4_5_cf=np.array(data['C4.5+cf'])
c_4_5_m_cf=np.array(data['C4.5+m+cf'])

In [19]:
scipy.stats.wilcoxon(c_4_5,c_4_5_m)

WilcoxonResult(statistic=6.5, pvalue=0.01075713311978963)

In [20]:
scipy.stats.wilcoxon(c_4_5,c_4_5_cf)

WilcoxonResult(statistic=43.0, pvalue=0.86126233009534803)

In [21]:
scipy.stats.wilcoxon(c_4_5,c_4_5_m_cf)

WilcoxonResult(statistic=11.0, pvalue=0.015906444101703374)

In [22]:
scipy.stats.wilcoxon(c_4_5_m,c_4_5_cf)

WilcoxonResult(statistic=17.0, pvalue=0.046332729793395394)

In [23]:
scipy.stats.wilcoxon(c_4_5_m,c_4_5_m_cf)

WilcoxonResult(statistic=22.0, pvalue=0.32782567584464062)

In [24]:
scipy.stats.wilcoxon(c_4_5_cf,c_4_5_m_cf)

WilcoxonResult(statistic=10.0, pvalue=0.022909099354356588)

In [25]:
classifiers=[c_4_5,c_4_5_m,c_4_5_cf,c_4_5_m_cf]

In [26]:
will_data=[]
for i,cls1 in enumerate(classifiers):
    for j,cls2 in enumerate(classifiers):
        if i>=j:
            continue
        stat,p=scipy.stats.wilcoxon(cls1,cls2)
        will_data.append([stat,p])

In [27]:
will_data_pd=pd.DataFrame.from_records(will_data)
will_data_pd.columns=['stat','p']

In [28]:
will_data_pd

   stat         p
0   6.5  0.010757
1  43.0  0.861262
2  11.0  0.015906
3  17.0  0.046333
4  22.0  0.327826
5  10.0  0.022909

In [29]:
reject,p_corrected,a1,a2=multipletests(will_data_pd.p,alpha=0.05,method='holm')

In [30]:
will_data_pd['p_corrected']=p_corrected
will_data_pd['reject']=reject

In [31]:
will_data_pd

   stat         p  p_corrected  reject
0   6.5  0.010757     0.064543   False
1  43.0  0.861262     0.861262   False
2  11.0  0.015906     0.079532   False
3  17.0  0.046333     0.138998   False
4  22.0  0.327826     0.655651   False
5  10.0  0.022909     0.091636   False

In [32]:
reject,p_corrected,a1,a2=multipletests(will_data_pd.p,alpha=0.05,method='fdr_bh')

In [33]:
will_data_pd['p_corrected']=p_corrected
will_data_pd['reject']=reject

In [34]:
will_data_pd

   stat         p  p_corrected  reject
0   6.5  0.010757     0.045818    True
1  43.0  0.861262     0.861262   False
2  11.0  0.015906     0.045818    True
3  17.0  0.046333     0.069499   False
4  22.0  0.327826     0.393391   False
5  10.0  0.022909     0.045818    True

In [ ]:
reject,